.dart_tool/
.idea/
.vscode/
build/
flutter_*.png
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
pubspec.lock
\.packages
\.flutter-plugins
\.flutter-plugins-dependencies
android/.gradle
android/app/local.properties
**/GeneratedPluginRegistrant.*
